/**{box-sizing: border-box; margin: 0; padding: 0}*/
/*body, html{height: 100%;}*/

/* stop blue highlighting of elements */
html {
	-webkit-tap-highlight-color:transparent;
}
/* END stop blue highlighting of elements */

button:focus {
	outline:0;
}

/*body {*/
	/*background-image: url("../images/Technique-for-Faster-Web-Development-1.jpg");*/
/*}*/

body {
	background: url("../images/Technique-for-Faster-Web-Development-1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

#roomChoice {
	margin-top: 200px;
	padding: 10px;
	border: 5px solid black;
	background: rgba(32,32,32, 0.5);
	color: white;
}

h2 {
	text-align: center;	
}

#navBar {
	background: rgba(32,32,32, 0.7);

}

#helpRoom {
	border: 1px solid black;
	margin-bottom: 5px;	
}

#projectRoom {
	border: 1px solid black;
	margin-bottom: 5px;	

}

#panicRoom {
	border: 1px solid black;
	margin-bottom: 5px;	
}

#coderConnections {
	border: 1px solid black;
}

/*Mariah's Style: */


.buttons{
	text-align: center;
}

#navText {
	color: white;
	margin-left: 5px;
	margin-top: 30px;
	font-size: 25px;
}


.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}

#forumHeader {
	background-color: white;
}

.lead {
	background-color: white;
}

#tableHead {
	background-color: dimgray;
	color: white;
}

#gitHelp {
	background-color: darkGray;
	color: white;
}

#careerHelp {
	background-color: white;
}

#openDiscussion {
	background-color: darkGray;
	color: white;
}

.buttons{
	text-align: center;
}



/* Mariah's styles */

.nav {
	position: absolute;
	display: inline-block;
	top:0;
	right: 10px;
}

.navbar {
	display: inline-block;
	max-height: 100px;

}
#welcomeMessage {
	display: block;
	font-size: 18px;
	horiz-align: center;
	/*background-color: blue;*/
	align-items: center;
	text-align: center;

	margin-top: -25px;

}

.main {
	text-decoration: none;
	color: white;
}

.main:hover {
	text-decoration: none;
	color: lightblue;
}

.ng-cloak { display:none; }