body {
	background: url("../images/Technique-for-Faster-Web-Development-1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.buttons{
	background-image: url("../images/plussign.png");
}

#bulletin{
	padding: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-image: url("../images/school-bulletin-board-clipart.png");
	height: 706px;
	width: 940px;
}

#box1{
	background-image: url("../images/yellowstick.png");
	height: 231px;
	width: 231px;
	
}

#box2{
	background-image: url("../images/purplestick.png");
	height: 231px;
	width: 231px;
}

#box3{
	background-image: url("../images/pinkstick.png");
	height: 231px;
	width: 231px;	
}

#box4{
	background-image: url("../images/pinkstick.png");
	height: 231px;
	width: 231px;
	margin-top: 15px;				
}

#box5{
	background-image: url("../images/purplestick.png");
	height: 231px;
	width: 231px;
	margin-top: 15px;		
}

#box6{
	background-image: url("../images/yellowstick.png");
	height: 231px;
	width: 231px;
	margin-top: 15px;		
}

.addProject {
	position: relative;
	left: 70px;
	top: 50px;
}

.plusSign {
	position: relative;
	left: 75px;
	top: 50px;
}


button {
    background: transparent;
    border: none !important;
    font-size:0;
}

h5{
	text-align: center;
}

h1 {
	text-align: center;
}

.name{
	padding-top: 35px;
	font-size: 25px;
	text-align: center;
}

.url{
	padding: 8px;
	text-align: center;
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.descr{
	padding-top: 8px;
	text-align: center;
}

